/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.*.php
.env.backup
.idea
.vscode
.DS_Store
*.sublime-workspace
*.sublime-project
*.code-workspace
/.pnp
.pnp.js
*.log